#profile {
  font-size: calc(15px + 2vmin);
  /* color: white; */
}

.profile-list {
  max-width: 100vh;
  display: static;
  flex-direction: column;
  /* text-align: left; */
}

h1{
  font-style: italic;
}

.profile-btn{
  opacity: 0.55;
}

.input{
  text-align: center;
  align-self: left;
  font-size: calc(12px + 2vmin);
  display: inline;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: black;
  opacity: 0.6;
  padding: 5px;
  background: none;
  outline: none;
  resize: horizontal;
}
