#profile {
  font-size: calc(15px + 2vmin);
  /* color: white; */
}

.profile-list {
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-style: italic;
}

profile-btn{
  opacity: 0.5;
}
